<mat-card class="record" fxLayout="column" fxLayoutAlign="center center">
    <div class="record-inside big-letters" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="60">
            <div class="highlight"> {{ record.name }} </div>
            <div class="small-letters greyed" *ngIf="subLabel">{{ subLabel }}</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end" fxFlex="40">
            <div class="highlight"> {{ record.price | number : '1.2-2' }} {{ currencyProfile.paidCurrency.short }} </div>
            <div class="small-letters greyed" *ngIf="subValue">{{ subValue }}</div>
        </div>
    </div>
</mat-card>
