<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title> Wczytane rekordy </h2>
    <button [mat-dialog-close]="false" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <mat-list #recordsList>
        <div *ngFor="let record of data.records; let i = index; let lastItem = last;" fxLayout="column" fxLayoutAlign="center center">
            <div style="width: 90%" fxLayoutAlign="space-between center">
                <div> {{ (i+1) + ". " + record.name }} </div>
                <div> {{ record.price | number : '1.2-2' }} {{ data.currencyShort }} </div>
            </div>
            <mat-divider *ngIf="!lastItem" style="width: 90%"></mat-divider>
        </div>
    </mat-list>

    <mat-divider style="margin-bottom: 10px"></mat-divider>

    <div fxLayout="row" *ngIf="data.records.length > 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            <div> {{ "Suma" | uppercase }} </div>
            <div> {{ priceSum | number : '1.2-2' }} {{ data.currencyShort }} </div>
        </div>
    </div>
    <div fxLayout="row" *ngIf="data.records.length == 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            Brak rekordów
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-stroked-button color="primary" [disabled]="data.records.length == 0" [mat-dialog-close]="true">Dodaj rekordy</button>
</mat-dialog-actions>