.record {
    background-color: #202020;
    height: 50px
}

.record-inside {
    width: 92%;
}

.indicator {
    height: 5px;
}

.small-sum {
    margin-left: 5px;
    margin-right: 5px;
}

.indicator-background {
  background-color: #282828;
}

mat-list {
    height: calc(100dvh - 190px);
    overflow: auto;
}

.records-bottom-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 625px;
    background-color: black;
}