<div class="users-container">
<mat-list>
    <div *ngIf="users.length == 0" class="greyed" fxFill fxLayoutAlign="center center"> Brak użytkowników </div>
    <div *ngFor="let user of users; let firstItem = first;">
        <mat-divider *ngIf="!firstItem" class="divider"></mat-divider>
        <app-balance-tile
            [user]="user"
            [records]="records"
            [currencyProfile]="currencyProfile">
        </app-balance-tile>
    </div>
</mat-list>
<app-bottom-panel
    [leftLabel]="'Suma wydatków osób' | uppercase"
    [leftValue]="(getPaidSum() * currencyProfile.exchangeRate | number:'1.2-2') + ' ' + currencyProfile.targetCurrency.short"
    [rightLabel]="'Całkowity koszt' | uppercase"
    [rightValue]="(getTotalPriceSum() * currencyProfile.exchangeRate | number:'1.2-2') + ' ' + currencyProfile.targetCurrency.short">
</app-bottom-panel>
</div>
