
<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title> Zarządzaj Splitsonem </h2>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="onBackClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <p>Tytuł:</p>
    <div mat-dialog-title fxLayout="row" fxLayoutAlign="start center"> 
        {{ mainName }}
        <button mat-icon-button (click)="changeName()">
            <mat-icon fxLayoutAlign="center center" style="font-size: large;">edit</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <p>Użytkownicy:</p>
    <mat-card *ngFor="let user of users" fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 100%" fxLayoutAlign="space-between center">
            <div fxFlex="85" style="padding-left: 25px;"> {{ user.name }} </div>
            <div fxFlex="15" fxLayoutAlign="center center">
                <button mat-icon-button (click)="deleteUser(user)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center start">
        <form [formGroup]="newUserForm" fxFlex="85">
            <mat-form-field style="width:100%">
                <mat-label>Nowy użytkownik</mat-label>
                <input matInput placeholder="Podaj imię" formControlName="user" autocomplete="off">
            </mat-form-field>
        </form>
        <button style="height: 55px" fxFlex="15" mat-flat-button color="primary" 
                [disabled]="!newUserForm.valid" (click)="addUser()">Dodaj</button>
    </div>

    <mat-divider></mat-divider>

    <p>Waluty:</p>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field style="width: 49%">
            <mat-label> Waluta kupna </mat-label>
            <mat-select [(value)]="data.currencyProfile.paidCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency"> {{ currency.name }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 49%">
            <mat-label> Waluta rozliczenia </mat-label>
            <mat-select [(value)]="data.currencyProfile.targetCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency"> {{ currency.name }} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="big-letters margin-sides"> 1 {{ data.currencyProfile.paidCurrency.short }} = </div>
        <mat-form-field class="mat-form-field-wrapper" *ngIf="data.currencyProfile.paidCurrency.name !== data.currencyProfile.targetCurrency.name">
            <input class="input-text-center" matInput type="number" [(ngModel)]="data.currencyProfile.exchangeRate">
        </mat-form-field>
        <mat-form-field class="mat-form-field-wrapper" *ngIf="data.currencyProfile.paidCurrency.name === data.currencyProfile.targetCurrency.name">
            <input class="input-text-center" matInput type="number" value="1" disabled="true">
        </mat-form-field>
        <div class="big-letters margin-sides"> {{ data.currencyProfile.targetCurrency.short }} </div>
    </div>

    <mat-divider style="margin-top: 20px"></mat-divider>

    <mat-expansion-panel style="margin-top: 20px">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Resetuj dane aplikacji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayoutAlign="space-evenly center">
            <button mat-stroked-button color="warn" (click)="clearAllData()"> Wszystkie dane </button>
            <button mat-stroked-button color="warn" (click)="clearRecords()"> Rekordy </button>
        </div>
    </mat-expansion-panel>
</mat-dialog-content>