<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title> Kto kupił <strong> {{ data.recordName }} </strong> </h2>
    <button  mat-icon-button (click)="onBackClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div *ngIf="data.allUsers.length > 0">
        <mat-selection-list>
            <mat-list-option color="primary" [selected]="allSelected" (click)="toggleAllSelection()">
                Wszyscy
            </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <mat-selection-list #usersList>
            <mat-list-option color="primary" *ngFor="let user of data.allUsers" [value]="user" [selected]="isUserSelected(user)" (click)="optionClick()">
                {{user.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div *ngIf="data.allUsers.length == 0">
        Brak użytkowników do przypisania
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-stroked-button color="primary" *ngIf="data.allUsers.length > 0" (click)="onConfirmClick(usersList.selectedOptions.selected)" cdkFocusInitial>Potwierdz</button>
</mat-dialog-actions>