<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" (click)="editUsers()" style="max-width: 240px">
        <span class="x-big-letters letters-spacing hide-overflow"> {{ data.name }} </span>
        <span class="small-letters hide-overflow"> {{ getUsersNamesLabel(data.users) }} </span>
        <span class="small-letters hide-overflow greyed" style="margin-top: 5px; font-size: x-small;"> {{ getFormattedDate(data.date) }} </span>
    </div>
    <div>
        <button mat-icon-button (click)="share()">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button (click)="newSplitson()">
            <mat-icon>post_add</mat-icon>
        </button>
    </div>
  </mat-toolbar>
<mat-tab-group>
    <mat-tab label="Wydatki"> 
        <app-records [data]="data"></app-records>
    </mat-tab>
    <mat-tab label="Bilans">
        <app-summary [users]="data.users" [records]="data.records" [currencyProfile]="data.currencyProfile"></app-summary>
    </mat-tab>
</mat-tab-group>