<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="40" fxLayout="column" (click)="editUsers()">
        <span class="x-big-letters letters-spacing">Splitson</span>
        <span class="small-letters"> {{ getUsersNamesLabel(users) }} </span>
    </div>
    <div>
        <button mat-icon-button (click)="toggleRecordsEditState()" [disabled]="recordsDeleteState">
            <mat-icon>edit_note</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleRecordsDeleteState()" [disabled]="recordsEditState">
            <mat-icon>delete_sweep</mat-icon>
        </button>
    </div>
  </mat-toolbar>
<mat-tab-group dynamicHeight>
    <mat-tab label="Wydatki"> 
        <app-records [users]="users" [records]="records" [recordsDeleteState]="recordsDeleteState" [recordsEditState]="recordsEditState"></app-records>
    </mat-tab>
    <mat-tab label="Bilans">
        <app-summary [users]="users"></app-summary>
    </mat-tab>
</mat-tab-group>