<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" (click)="editUsers()" style="max-width: 200px">
        <span class="x-big-letters letters-spacing hide-overflow"> {{ mainName }} </span>
        <span class="small-letters hide-overflow"> {{ getUsersNamesLabel(users) }} </span>
    </div>
    <div>
        <button mat-icon-button (click)="share()">
            <mat-icon>share</mat-icon>
        </button>
    </div>
  </mat-toolbar>
<mat-tab-group dynamicHeight>
    <mat-tab label="Wydatki"> 
        <app-records [users]="users" [records]="records" [currencyProfile]="currencyProfile"></app-records>
    </mat-tab>
    <mat-tab label="Bilans">
        <app-summary [users]="users" [records]="records" [currencyProfile]="currencyProfile"></app-summary>
    </mat-tab>
</mat-tab-group>