.record {
    background-color: #202020;
    height: 50px
}

.record-inside {
    width: 92%;
}

.sum {
    padding-right: 25px;
}

.records-count {
    padding-left: 25px;
}

.highlight {
    color: lightgreen;
}

.test {
    position: relative;
}

.mat-list {
    height: 10vh;
}