
:host {
    display: block;
    height: 100%;
}

.records-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-list {
    display: block;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

