
.record {
    background-color: #202020;
    height: 50px
}

.record-inside {
    width: 92%;
}

// .highlight {
//     color: lightgreen;
// }

.test {
    position: relative;
}

.mat-list {
    height: 10vh;
}

.records-bottom-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 625px;
    background-color: black;
}

.add-button {
    position: relative;
    top: -25px;
}