<mat-list #recordsList>
    <mat-card *ngFor="let record of records" fxLayout="row" fxLayoutAlign="space-between center" 
                (click)="assignUsers(record.id)">
        <div> {{ record.name }} </div>
        <div> {{ record.price }} </div>
        <div *ngIf="record.boughtBy.length > 0"> {{ getUsersNames(record.boughtBy) }} </div>
        <button *ngIf="recordsDeleteState" mat-button (click)="deleteRecord(record)">Usuń</button>
        <button *ngIf="recordsEditState" mat-button (click)="editRecord(record)">Edytuj</button>
    </mat-card>
</mat-list>
<div> Suma: {{ getPriceSum() }} </div>