<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 fxFlex="80" mat-dialog-title> Udostępnione dane </h2>
    <div fxFlex="20" fxLayoutAlign="center center">
        <button [mat-dialog-close]="false" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <div fxLayoutAlign="center center" style="font-size: large"> {{ data.name }} </div>
    <mat-divider></mat-divider>

    <p>Użytkownicy:</p>
    <mat-list>
        <mat-card *ngFor="let user of data.users; let i = index" fxLayout="row" fxLayoutAlign="center center">
            <div style="width: 90%" fxLayoutAlign="space-between center">
                <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> {{ (i+1) + ". " + user.name }} </div>
                <div> {{ user.balance | number : '1.2-2' }} </div>
            </div>
        </mat-card>
    </mat-list>
    <div fxLayout="row" *ngIf="data.users.length == 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            Brak użytkowników
        </div>
    </div>

    <p>Rekordy:</p>
    <mat-list #recordsList>
        <mat-card *ngFor="let record of data.records; let i = index" fxLayout="row" fxLayoutAlign="center center">
            <div style="width: 90%" fxLayoutAlign="space-between center">
                <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> {{ (i+1) + ". " + record.name }} </div>
                <div> {{ record.price | number : '1.2-2' }} </div>
            </div>
        </mat-card>
    </mat-list>
    <div *ngIf="data.records.length > 0" fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            <div> {{ "Suma" | uppercase }} </div>
            <div> {{ priceSum | number : '1.2-2' }} </div>
        </div>
    </div>
    <div fxLayout="row" *ngIf="data.records.length == 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            Brak rekordów
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-stroked-button color="primary" [mat-dialog-close]="true">Zapisz (istniejące dane zostaną nadpisane)</button>
</mat-dialog-actions>