<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 fxFlex="80" mat-dialog-title> Udostępnione dane </h2>
    <div fxFlex="20" fxLayoutAlign="center center">
        <button [mat-dialog-close]="false" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <div fxLayoutAlign="center center" style="font-size: large"> {{ data.name }} </div>
    <mat-divider></mat-divider>

    <p>Użytkownicy:</p>
    <mat-list>
        <mat-card *ngFor="let user of data.users; let i = index" fxLayout="row" fxLayoutAlign="center center">
            <div style="width: 90%" fxLayoutAlign="space-between center">
                <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> {{ (i+1) + ". " + user.name }} </div>
                <div fxLayout="row">
                    <div *ngIf="data.currencyProfile.paidCurrency.name !== data.currencyProfile.targetCurrency.name"
                    style="margin-right: 10px">
                        ({{ user.balance * data.currencyProfile.exchangeRate | number : '1.2-2' }} {{ data.currencyProfile.targetCurrency.short }}) </div>
                    <div> {{ user.balance | number : '1.2-2' }} {{ data.currencyProfile.paidCurrency.short }} </div>
                </div>
            </div>
        </mat-card>
    </mat-list>
    <div fxLayout="row" *ngIf="data.users.length == 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            Brak użytkowników
        </div>
    </div>

    <p>Rekordy:</p>
    <mat-list #recordsList>
        <mat-card *ngFor="let record of data.records; let i = index" fxLayout="row" fxLayoutAlign="center center">
            <div style="width: 90%" fxLayoutAlign="space-between center">
                <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> {{ (i+1) + ". " + record.name }} </div>
                <div fxLayout="row">
                    <div *ngIf="data.currencyProfile.paidCurrency.name !== data.currencyProfile.targetCurrency.name"
                    style="margin-right: 10px">
                        ({{ record.price * data.currencyProfile.exchangeRate | number : '1.2-2' }} {{ data.currencyProfile.targetCurrency.short }}) </div>
                        <div> {{ record.price | number : '1.2-2' }} {{ data.currencyProfile.paidCurrency.short }} </div>
                </div>
            </div>
        </mat-card>
    </mat-list>
    <div *ngIf="data.records.length > 0" fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            <div> {{ "Suma" | uppercase }} </div>
            <div fxLayout="row">
                <div *ngIf="data.currencyProfile.paidCurrency.name !== data.currencyProfile.targetCurrency.name"
                style="margin-right: 10px">
                    ({{ priceSum * data.currencyProfile.exchangeRate | number : '1.2-2' }} {{ data.currencyProfile.targetCurrency.short }}) </div>
                    <div> {{ priceSum | number : '1.2-2' }} {{ data.currencyProfile.paidCurrency.short }} </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" *ngIf="data.records.length == 0" fxLayoutAlign="center center">
        <div style="width: 90%" fxLayoutAlign="space-between center">
            Brak rekordów
        </div>
    </div>


    <p>Waluty:</p>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 100%" fxLayoutAlign="space-between center">
            <div fxFlex="33" fxLayout="column"  fxLayoutAlign="space-between center">
                <div> Kupno </div> 
                <div> {{ data.currencyProfile.paidCurrency.name }} </div>
            </div>
            <div fxFlex="33" fxLayout="column"  fxLayoutAlign="space-between center">
                <div> Kurs </div> 
                <div> {{ data.currencyProfile.exchangeRate }} </div>
            </div>
            <div fxFlex="33" fxLayout="column"  fxLayoutAlign="space-between center">
                <div> Docelowa </div> 
                <div> {{ data.currencyProfile.targetCurrency.name }} </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-stroked-button color="primary" [mat-dialog-close]="true">Zapisz (istniejące dane zostaną nadpisane)</button>
</mat-dialog-actions>